<div class="modal fade" id="movieInfo" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header d-lg-none d-flex">
        <h5 class="modal-title">New message</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="box-sizing: border-box;" class="row">
          <div
            style="background-color: blanchedalmond;"
            class="d-none d-lg-block col-lg-6"
          >
            <img id="modalPoster" style="max-width: 100%;" />
          </div>

          <div
            id="modalPlot"
            style="background-color: #212529; color: white;"
            class="col-lg-6 col-12"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
