<style>
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    color: #818181;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    overflow-wrap: break-word;
    z-index: 100;
  }
  .overlay-header {
    padding: 10px;
    padding-bottom: 5px;
    margin: 0;
  }
  .overlay-like {
    padding-bottom: 5px;
    margin: 0;
  }
  .overlay-like > * {
    width: 40px;
    height: 40px;
    margin: auto;
    cursor: pointer;
  }
  .overlay-body {
    position: relative;

    padding-bottom: 3px;
  }
  .overlay .closebtn {
    float: right;
    font-size: 60px;
    color: #818181;
    text-decoration: none;
    line-height: 60px;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
</style>

<div id="movieOverlay" class="overlay">
  <div class="w-100 h-30">
    <a href="javascript:void(0)" class="closebtn" onclick="closeOverlay()"
      >&times;</a
    >
  </div>
  <div class="overlay-header row w-100">
    <h1 id="overlayTitle" class="text-center m-auto">Title</h1>
  </div>
  <div class="overlay-like row w-100">
    <img
      id="likeImage"
      src="{{ url_for('static', filename='images/before_like.png')}}"
      onclick="likeBtn(this);"
    />
  </div>
  <div class="overlay-body row d-flex justify-content-center">
    <div
      class="text-center d-lg-block col-12 col-sm-4 col-lg-4 col-xl-3 w-100 h-100 text-lg-right"
    >
      <img id="overlayPoster" style="max-height: 100%; max-width: 100%;" />
    </div>
    <div
      id="overlayPlot"
      class="col-10 col-sm-7 col-lg-8 col-xl-9 w-100 h-100 p-3 text-center text-lg-left"
    >
      Plot
    </div>
  </div>
</div>
<script>
  function openOverlay(imdbID) {
    window.history.pushState(
      { prev: window.location.pathname },
      "",
      "/movie/" + imdbID
    );
    document.getElementById("movieOverlay").style.width = "100%";
    $("html,main, body").css("overflow", "hidden");
  }

  function closeOverlay() {
    window.history.pushState(null, "", window.history.state.prev);
    //window.history.back();
    //window.dispatchEvent(new PopStateEvent("popstate", {}));
    //window.history.replaceState(null, "", "/");
    document.getElementById("movieOverlay").style.width = "0%";
    $("html, main,body").css("overflow", "visible");
  }
</script>
